﻿@model NEWCRM.Models.CasetypeViewModel
@if(Model.contactDepartment.Count() > 0) {
    var selected = string.Empty;

<label class="col-sm-3 control-label">ประสานหน่วยงาน</label>
<div class="col-sm-9">
     <select id="MailToDept" name="MailToDept" class="form-control " onchange="ChangeDepartment(this)" required>
       
            @foreach (var item in Model.contactDepartment)
            {
                selected = string.Empty; 
            <option @selected value="@item.code" data-casetype="@item.casetype" data-mailto="@item.mailto" data-mailcc="@item.mailcc">@item.name</option> 
            } 
    </select>
    <input type="hidden" id="MailToDeptName" name="MailToDeptName" />
</div> 
}
