﻿@model NEWCRM.Models.ListRepCaseModel
@{
    Layout = "";
}

<div class="col-lg2" style="padding: 0 30px 10px 30px;"><a href="@Url.Action("RepCaseSummaryExport", "RepCase")" class="btn ink-reaction btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel</a></div>

<!--a href="Url.Action("RepCaseSummaryExport", "RepCase")">
    <button type="button" class="btn ink-reaction btn-flat" data-toggle="tooltip" data-placement="top" data-original-title="Add new case with no contact"><i class="fa fa-file-excel-o"></i> Export Excel</button-->
</!--a>

            <table width="100%">
                <thead>
                    <tr class="gradeX">
                        <th colspan="2" >
                            <h3>ศูนย์รับเรื่องร้องเรียนปัญหาออนไลน์ 1212 OCC</h3>
                            <h4>Summary Report</h4>
                            <p class="text">Report of  to @Model.list_repcasesum[0].startDate to @Model.list_repcasesum[0].endDate </p>


                        </th>
                        <th colspan="2"></th>
                        <th>
                            <div class="form-group no-padding pull-right">
                                <img width="190px" height="100px" src="~/Images/logo.png" />
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <table id="datatable1" width="100%" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Case Type</th>
                        <th>Number of Case</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.list_repcasesum)
                    {
                        <tr class="gradeX"  >
                            <td>@item.catName</td>
                            <td>@item.counts</td>
                            <td>@item.Percents</td>
                        </tr>

                        Html.RenderAction("repSummaryChild", "RepCase", new { startdate = @item.startDate, enddate = @item.endDate, catparentid = @item.catID });

                    }
                </tbody>

                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th>Sum </th>
                    <th>@Model.list_repcasesum.Sum(x => x.counts)</th>
                    <th>@Model.list_repcasesum.Sum(x => x.Percents)</th>
                </tr>

            </table>
