﻿@model NEWCRM.Models.ListRepCaseModel

<div class="row">
    <div class="col-lg2" style="padding: 0 30px 10px 30px;">
        <a href="@Url.Action("rptCaseSummaryCaseDayExcel", "RepCase",new { startDate = @ViewBag.startDate, endDate = @ViewBag.endDate})" class="btn ink-reaction btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="padding: 0 30px 10px 30px;">
        <div class="table-responsive">
            <table width="100%">
                <thead>
                    <tr class="gradeX">
                        <th colspan="2">

                            <h3>Call Center</h3>
                            <h4>รายงานการรับเรื่องร้องเรียนปัญหาออนไลน์ 1212 OCC</h4>
                            <h4>Report of @ViewBag.startDate to @ViewBag.endDate</h4>
                        </th>
                        <th colspan="2"></th>
                        <th>
                            <div class="form-group no-padding pull-right">
                                <img width="190px" height="100px" src="~/Images/logo.png" />
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <table id="datatable1" class="table table-striped table-hover">
                <thead>
                    @{
                        var casLevel1 = Model.list_casetype.Where(x => x.catParrentID > 0);
                    }

                <thead>
                    <tr style="background-color:#2B5D95;color:#ffffff;">
                        <th>Date </th>
                        @{
                            var casLevel2 = Model.list_casetype.Where(x => x.catLevel == 2);
                        }
                        @foreach (var casetype in casLevel2)
                        {
                            //var countParrent = Model.list_casetype.Count(x => x.catParrentID == casetype.catID);
                            <th> @casetype.catName </th>
                        }
                        <th>รวมทั้งสิ้น</th>
                        <th>สายที่ไม่ได้รับ (Abandon Call)</th>
                        <th>% สายที่ไม่ได้รับ (% Abandon Call)</th>
                        <th>สายโทรเข้ามาทั้งหมด</th>
                        <th>เวลาเฉลี่ยในการคุยต่อครั้งต่อวัน (Talk time)</th>
                    </tr></thead>

                
                <tbody>
                    
                    @foreach (var item in Model.list_call)
                    {
                        <tr class="gradeX">
                            <td>@item.period</td>
                            @{ 
                                Html.RenderAction("rptCaseSummaryCaseDayChild", "RepCase", new { startdate = @item.period, enddate = @item.period });
                            }
                            
                            <td>@item.abandoned</td>
                            <td>@item.per_abandoned</td>
                            <td>@item.accepted_agent</td>
                            <td>@item.avg_engage_time</td>
                        </tr>
                    }
                     
                </tbody>
            </table>
