﻿@model NEWCRM.Models.CaseViewModelLocalization

<style type="text/css">
    .modal-body
    {
        max-height: 800px;
    }
</style>

@{
    ViewBag.Title = "DetailEdit";
    Layout = null;

} 

<script type="text/javascript">

    function onSourceTypeChange(ref) {

        $("#casLevel3").val($(ref).find("option:selected").text());

    } 

</script>
<div id="ctdiv_issid" class="form-group">
    <label class="col-sm-3 control-label">ISSUE ID</label>
    <div class="col-sm-9 margin-bottom-xl">
        <input type="text" id="issID" name="issID" class="form-control" value="@Model.cases.issID" />
    </div>
</div>
<div id="ctdiv_1" class="form-group">
    <!--l<label for="sourceType"  class="col-sm-3 control-label">ประเภทเรื่องหลัก</label>
    abel for="sourceType" id="sourceType" name="sourceType" class="col-sm-6 control-label">Model.cases.casLevel1</label>-->

    @if (Model.cases.casIDLevel1.HasValue)
    {
        Html.RenderAction("getCaseTypeNodeSelection", "Casetype", new { id = 0, selectedID = Model.cases.casIDLevel1 });
    }

</div>
<br />
<div id="ctdiv_2" class="form-group">

    @if (Model.cases.casIDLevel2.HasValue)
    {
        Html.RenderAction("getCaseTypeNodeSelection", "Casetype", new { id = @Model.cases.casIDLevel1, selectedID = Model.cases.casIDLevel2 });
    } 
</div>
<br />
<input type="hidden" id="txtselectedid" />
<div id="ctdiv_3" class="form-group">
    @if (Model.cases.casIDLevel1 == 1)
    {
        <label for="sourceType" id="lblSourceType" name="lblSourceType" class="col-sm-3 control-label">ช่องทางการซื้อขาย</label>
    }
    else
    {
        <label for="sourceType" id="lblSourceType" name="lblSourceType" class="col-sm-3 control-label">ประเภทสื่อผิดกฎหมายที่อ้างอิง</label>
    }
    <div id="divsourceType" class="col-sm-9 margin-bottom-xl">
        <select id="casIDLevel3" name="casIDLevel3" class="form-control" onchange="onSourceTypeChange(this)">
            <option></option>
            @foreach (var item in Model.sourceType)
            {
                var selected = string.Empty;
                if (Model.cases.casLevel3 != null && Model.cases.casLevel3 == item)
                {
                    selected = "selected";
                }
                <option @selected value="@item">@item</option>
            }
        </select>
        <input type="hidden" id="casLevel3" name="casLevel3" value="@Model.cases.casLevel3" />
    </div>
</div>
<br />
<div id="ctdiv_4" class="form-group">
    @if (Model.cases.casIDLevel1 == 1)
    {
        <label for="casenote" id="lblSourceTypeRef" class="col-sm-3 control-label">รายละเอียดช่องทางซื้อขาย</label>
    }
    else
    {
        <label for="casenote" id="lblSourceTypeRef" class="col-sm-3 control-label">อ้างอิงระบุเจาะจงURLหรือID</label>
    }
    <div class="col-sm-8 margin-bottom-xl">
        <input type="text" class="form-control" id="casURLAccount" name="casURLAccount" value="@Model.cases.casLevel6" />
    </div>

    <div class="col-sm-12 form-group margin-bottom-xl">
        <label class="col-sm-3 control-label">วันที่เกิดเหตุ</label>
        <div class="col-sm-7 margin-bottom-xl">
            <div class='input-group date' id='datetimepicker1'>

                <input type="text" id="eventDate" name="eventDate" class="form-control fv" value="@ViewBag.eventDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>



        <div class="col-sm-2 margin-bottom-xl">
            @if (ViewBag.isNoEventDate == "true")
            {
                <input id="chkIsNoEventDate" type="checkbox" value="true" name="chkIsNoEventDate" checked="checked" />
                    <label>ผู้ร้องไม่ทราบวันที่เกิดเหตุ</label>
                    <input type="hidden" value="false" name="chkIsNoEventDate" />

            }
            else
            {
                <input id="chkIsNoEventDate" type="checkbox" value="true" name="chkIsNoEventDate" />
                    <label>ผู้ร้องไม่ทราบวันที่เกิดเหตุ</label>
                    <input type="hidden" value="false" name="chkIsNoEventDate" />
            }
        </div>
    </div>
</div>
<br />
<div id="CaseGroup1" class="form-group">
    @{
        Html.RenderPartial("CaseGroup1Edit");
    }
</div>
<br />

<div id="CaseGroup2" class="form-group">
    @{
        Html.RenderPartial("CaseGroup2Edit");
    }

</div>

<br />

<div class="form-group">
    <label for="casenote" class="col-sm-3 control-label">Add Note</label>
    <div class="col-sm-9 margin-bottom-xl">
        <textarea id="casNote" name="casNote" class="form-control" rows="6" required data-rule-minlength="1">@Model.cases.casNote</textarea>
    </div>
</div>
<div class="form-group">
    <label for="casenote" class="col-sm-3 control-label">รายละเอียดการจัดการเคส</label>
    <div class="col-sm-9 margin-bottom-xl">
        <textarea id="casSolution" name="casSolution" class="form-control" rows="6" required data-rule-minlength="1">@Model.cases.casSolution</textarea>
    </div>
</div>
<div id="ctdiv_contact" class="form-group">
 @if (Model.cases.casIDLevel2.HasValue)
    {
        Html.RenderAction("getContactDepartmentEdit", "Casetype", new { departmentcode = Model.cases.MailToDept });
    }
</div> 
<div id="ctdiv_opt" class="form-group" style="display: @(Model.cases.casSLA > 0 ? "block": "none")">
    <label class="col-sm-3 control-label">Case SLA</label>
    <div class="col-sm-9">
        <p class="text-l">
            <h4>
                <i class="fa fa-clock-o fa-fw"></i>&nbsp;
                <span id="sla">@Model.cases.casSLA</span>&nbsp;Minutes
            </h4>
            <input type="hidden" name="casSLA" id="casSLA" value="@Model.cases.casSLA" />
            <input type="hidden" name="slaID" id="slaID" />
        </p>
    </div>
</div>
<input type="hidden" name="casID" value="@Model.cases.casID" />
<script type="text/javascript">

    $(document).ready(function () {

        //$('#datetimepicker1').datetimepicker();

        if ($('#casIDLevel1').val() == 1) {
            $('#CaseGroup1').show();
        }
        else {
            $('#CaseGroup1').hide();
        }

        $('#casLevel1').val('@Model.cases.casLevel1');
        $('#casLevel2').val('@Model.cases.casLevel2');

        //$('select[name^="MailToDept"] option[value="' + data + '"]').attr("selected", "selected"); 
        var mailtodeptname = $("#MailToDept option:selected").text();
        $("#MailToDeptName").val(mailtodeptname);

        //append by suksa
        $("#issID").blur(function () {
             

                var selectedID = $("#casIDLevel2").find(':selected').val();
                var selectedText = $("#casIDLevel2").find(':selected').text();
                var issueid = $(this).val().trim();

                //if (selectedText.trim() == "อื่นๆ" && issueid != "") {
                if (issueid != "") {
                    var url = '@Url.Action("getContactDeptByIssueNo", "Case")/';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { issueno: issueid },
                    dataType: "json",
                    success: function (data) {
                        //alert(data.depcode);
                        if (data.depcode == "") {
                            var url = '@Url.Action("getContactDepartmentByCaseType", "Casetype")/' + selectedID;
                                $.post(url, function (data) {
                                    $('select[name^="MailToDept"] option[value="' + data + '"]').attr("selected", "selected");
                                    var mailtodeptname = $("#MailToDept option:selected").text();
                                    $("#MailToDeptName").val(mailtodeptname);
                                });
                            }
                            else {
                                $('select[name^="MailToDept"] option[value="' + data.depcode + '"]').attr("selected", "selected");
                                var mailtodeptname = $("#MailToDept option:selected").text();
                                $("#MailToDeptName").val(mailtodeptname);
                            }

                        }
                    });

                }
                else {

                    var url = '@Url.Action("getContactDepartmentByCaseType", "Casetype")/' + selectedID;
                $.post(url, function (data) {
                    $('select[name^="MailToDept"] option[value="' + data + '"]').attr("selected", "selected");
                    var mailtodeptname = $("#MailToDept option:selected").text();
                    $("#MailToDeptName").val(mailtodeptname);
                });
                }
             

        });

    });

    function resetValueGroup() {
        //--load Status
        $("#cssID").val('1');
        $("#commerceType").val('1');
        $("#productCategory").val('1');
        $("#serviceCategory").val('1');
        $("#deliveryType").val('1');
        $("#valueRange").val('1');
        $("#conversationChannel").val('1');
        $("#txtRefDetail").val('');
        $("#txtDetail").val('');
    }

    function nextctnode(ref) {
        var message = $(ref).find(':selected').attr('data-dialogue');
        var sla = $(ref).find(':selected').attr('data-sla');
        var slaid = $(ref).find(':selected').attr('data-slaid');
        var current_divnode = $(ref).parents().eq(1).attr("id");
        var current_lv = current_divnode.split("_")[1];
        var next_lv = parseInt(current_lv) + 1;

        if ($(ref).val() == "") {
            // Show - Hide another div
            if (current_lv == 1) {
                $("#ctdiv_2").hide();
                //$("#ctdiv_3").hide();
                $("#ctdiv_4").hide();
                if ($(ref).val() == 1) {
                    $('#CaseGroup1').show();
                }
                else {
                    $('#CaseGroup1').hide();
                }
            }
            $("#ctdiv_opt").hide();
            $("#casSLA").val('');

            $("#ctdiv_contact").hide();
        } else {
            if (current_lv == 1) {
                $("#ctdiv_2").empty().hide();
                $("#ctdiv_4").show();
                $("#ctdiv_5").empty().hide();
                //$("#ctdiv_3").hide();
                $("#casSLA").val('');
                var url = '@Url.Action("GetSourceType", "Casetype")';
                $.post(url, function (data) {
                    $("#divsourceType").html(data);
                });
                $("#ctdiv_3").show();
                $("#ctdiv_opt").show();
                //$("#casURLAccount").focus();
                if ($(ref).val() == "1") {
                    resetValueGroup();
                    $("#CaseGroup1").show();
                    $("#CaseGroup2").show();
                    $("#lblSourceTypeRef").html("รายละเอียดช่องทางซื้อขาย");
                    $("#lblSourceType").html("ช่องทางการซื้อขาย");
                    $("#lblRedDetail").html("หลักฐานประกอบ");
                    $("#lblDetail").html("รายละเอียดร้องเรียน");
                }
                else if ($(ref).val() == "2" || $(ref).val() == "3") {
                    resetValueGroup();
                    $("#CaseGroup1").hide();
                    $("#CaseGroup2").show();
                    $("#lblSourceTypeRef").html("อ้างอิงระบุเจาะจงURLหรือID");
                    $("#lblSourceType").html("ประเภทสื่อผิดกฎหมายที่อ้างอิง");
                    $("#lblRedDetail").html("รายละเอียดเพิ่มเติม");
                    $("#lblDetail").html("เนื้อหารายละเอียดการร้องเรียน");
                } else {
                    resetValueGroup();
                    $("#CaseGroup1").hide();
                    $("#CaseGroup2").hide();
                    $("#lblSourceTypeRef").html("อ้างอิงระบุเจาะจงURLหรือID");
                    $("#lblSourceType").html("ประเภทสื่อผิดกฎหมายที่อ้างอิง");
                }

                $("#ctdiv_contact").hide();
            }
            else /* append by suksa contact department email */
            {
                if ($(ref).val() == "") {
                    $("#ctdiv_contact").hide();
                }
                else {

                    debugger;
                    var url = '@Url.Action("getContactDepartment", "Casetype")';
                     $.post(url, function (data) {
                         $("#ctdiv_contact").html(data);
                     });
                     $("#ctdiv_contact").show();

                     var selectedID = $(ref).find(':selected').val();
                     var url = '@Url.Action("getContactDepartmentByCaseType", "Casetype")/' + selectedID;
                    $.post(url, function (data) {
                        //alert(selectedID + " -- " + data);
                        $("#txtselectedid").val(selectedID + " -- " + data);
                        $('select[name^="MailToDept"] option[value="' + data + '"]').attr("selected", "selected");
                        var mailtodeptname = $("#MailToDept option:selected").text();
                        $("#MailToDeptName").val(mailtodeptname);
                    });
                }  
            }
           
            // Set casLevel
            $("#casLevel" + current_lv).val($(ref).find("option:selected").text());
            // Show Next Node 
            if (sla === '' || typeof sla == 'undefined') {
                //alert(lv_current.attr("id"));
                $("#ctdiv_" + next_lv).html('<div class="col-sm-3">&nbsp;</div><div class="col-sm-9 text-warning text-medium">Loading...</div>').slideDown(200);
                var id = $(ref).val();
                var url = '@Url.Action("getCaseTypeNodeSelection", "Casetype")/' + id;
                $.post(url, function (data) {
                    $("#ctdiv_" + next_lv).html(data);
                });
            } else {

                //$("#casNote").focus();
                $("#sla").text(sla);
                $("#casSLA").val(sla);
                $("#slaID").val(slaid);
                $("#ctdiv_opt").show();
            }
        } 
        
        /************************************************************************************************/
        /* append by suksa contact department email */
        if (current_lv == 1) {
            $("#ctdiv_contact").hide();

        }
        else if (current_lv == 2) {

            if ($(ref).val() === "") {
                $("#ctdiv_contact").hide();
            }
            else {

                var selectedID = $(ref).find(':selected').val();
                var selectedText = $(ref).find(':selected').text();
                var issueid = $("#issID").val().trim();

                //if (selectedText.trim() == "อื่นๆ" && issueid != "") {
                if (issueid != "") {
                    var url = '@Url.Action("getContactDeptByIssueNo", "Case")/';
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: { issueno: issueid },
                                dataType: "json",
                                success: function (data) {
                                    //alert(data.depcode);
                                    //$('select[name^="MailToDept"] option[value="' + data.depcode + '"]').attr("selected", "selected");
                                    //var mailtodeptname = $("#MailToDept option:selected").text();
                                    //$("#MailToDeptName").val(mailtodeptname);
                                    if (data.depcode == "") {
                                        var url = '@Url.Action("getContactDepartmentByCaseType", "Casetype")/' + selectedID;
                                        $.post(url, function (data) {
                                            $('select[name^="MailToDept"] option[value="' + data + '"]').attr("selected", "selected");
                                            var mailtodeptname = $("#MailToDept option:selected").text();
                                            $("#MailToDeptName").val(mailtodeptname);
                                        });
                                    }
                                    else {
                                        $('select[name^="MailToDept"] option[value="' + data.depcode + '"]').attr("selected", "selected");
                                        var mailtodeptname = $("#MailToDept option:selected").text();
                                        $("#MailToDeptName").val(mailtodeptname);
                                    }
                                }
                            });

                        }
                        else {
                            var url = '@Url.Action("getContactDepartmentByCaseType", "Casetype")/' + selectedID;
                            $.post(url, function (data) {
                                $("#txtselectedid").val(selectedID + " -- " + data);
                                $('select[name^="MailToDept"] option[value="' + data + '"]').attr("selected", "selected");
                                var mailtodeptname = $("#MailToDept option:selected").text();
                                $("#MailToDeptName").val(mailtodeptname);
                            });
                        }

                        $("#ctdiv_contact").show();
                        $("#ctdiv_opt").show();
                    }
        }
        /************************************************************************************************/

        if (jQuery.trim(message).length > 0) {
            openInfoDialog(message);
        } else {
            toastr.clear();
        }
    }

    function contactDepartmentChange(ref) {

        if ($(ref).val() == "4") {
            $("#ctdiv_statusreason").show();
        }
        else {
            $("#ctdiv_statusreason").hide();
            $("#cssStatusReason").val('');
        }
    }

    function successNewContact() {
        var url = '@Url.Action("CommonDetail", "Contact")';
        $.post(url, function (data) {
            $("#cd").html(data).show();
            $("#cdt").fadeIn(300);
        });
    }

    function disableCT() {
        $("#ctdiv_1").addClass("has-error");
        $("#casIDLevel1").prop("disabled", "disabled");
        if ($("#casIDLevel2").length) {
            $("#ctdiv_2").addClass("has-error");
            $("#casIDLevel2").prop("disabled", "disabled");
        }
        if ($("#casIDLevel3").length) {
            $("#ctdiv_3").addClass("has-error");
            $("#casIDLevel3").prop("disabled", "disabled");
        }
        if ($("#casIDLevel4").length) {
            $("#ctdiv_4").addClass("has-error");
            $("#casIDLevel4").prop("disabled", "disabled");
        } 
    }



</script>