﻿@model NEWCRM.Models.ListRepCaseModel

@{
    Layout = "~/Views/Shared/_Report.cshtml";
}


    @section Scripts {
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.0','packages':['corechart']},{'name':'visualization','version':'1.0','packages':['controls']}]}"></script>

</script>

        <script type="text/javascript">
            $(document).ready(function () {

                google.charts.load('current', { 'packages': ['line'] });

                $('.field-date').datepicker({ autoclose: true, todayHighlight: true, format: "dd/mm/yyyy" });

                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!

                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }
                var today = dd + '/' + mm + '/' + yyyy;
                $("#startdate").val(today);
                $("#enddate").val(today);
            });            

            function beginQuery() {


                    $(".fv").each(function () {
                        var v = $(this).val();
                        if (v == '') {
                            $(this).focus();
                        }
                    });
                    $("#getQuery").fadeOut(300);
                    $('#myProgress').modal('show');
            }

            function successQuery() {
                $('#myProgress').modal('hide');
                if ($('#reptype').val() != "9") {
                    $('#datatable1').DataTable({
                        "dom": 'lCfrtip',
                        "order": [],
                        "language": {
                            "lengthMenu": '_MENU_ entries per page',
                            "search": '<i class="fa fa-search"></i>',
                            "paginate": {
                                "previous": '<i class="fa fa-angle-left"></i>',
                                "next": '<i class="fa fa-angle-right"></i>'
                            }
                        }
                    });
                }
                else {
                    console.log("sum call day");
                }


                $("#getQuery").fadeIn(300);
            }

            function failureQuery(data) {
                $('#myProgress').modal('hide');
                openErrorDialog(data.responseText);
            }

            function loadReport()
            {
                var start = $("#startdate").val();
                var url = '@Url.Action("repSummary", "RepCase")';
                jQuery.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        'startdate': start,
                        'enddate': $("#enddate").val(),
                        'catparentid': '0'
                    },
                    success: function (data) {
                        //console.log('Returned data is: ' + data);
                        $("#getQuery").html(data);
                        
                    }
                });

            }


        </script>
    }

<div id="visualization" style="display:none;"></div>

<div class="section-body">
    <div class="card">
        <div class="card-body" style="padding-bottom: 0;">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group no-padding">
                            <h4>Report Name</h4>
                        </div>
                    </div>
                    <!--div class="col-lg-2">
                        <div class="form-group no-padding">
                            <h4>Criteria</h4>
                        </div>
                    </div-->
                    <div class="col-lg-3">
                        <div class="form-group no-padding">
                            <h4>Start Date</h4>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group no-padding">
                            <h4>End Date</h4>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group no-padding">
                            &nbsp;
                        </div>
                    </div>
                </div>

                @using (Ajax.BeginForm("getReport", "RepCase",
                                            new AjaxOptions { UpdateTargetId = "getQuery", HttpMethod = "post", OnBegin = "return beginQuery()", OnSuccess = "successQuery", OnFailure = "failureQuery" },
                                            new { id = "frm-casequery", @class = "form", autocomplete = "off" }))
                {
                    <div id="filterList"></div>

                        <input type="hidden" id="data-type-<%=index%>" name="data-type-<%=index%>" value="text" />
                        <div class="row">
                            <div class="col-lg-2">
                                </div>
                            <div class="col-lg-3">
                                <!--div class="form-group no-padding">

                                </!--div-->
                                <div id="ctdiv_1" class="form-group no-padding">
                                    <div class="col-sm-9 margin-bottom-xl">
                                        <select name="reptype" id="reptype" class="form-control">
                                            <option></option>
                                            <option value="1">CALL PERFORMANCE REPORT BY HOUR (DAILY)</option>
                                            <option value="2">CALL PERFORMANCE REPORT BY DAY</option>
                                            <option value="8">Endcall Survey (ETDA)</option>
                                            <option value="3">CASE DETAIL REPORT</option>
                                            <option value="4">CASE DETAIL REPORT (ร้องเรียนซื้อ ขายออนไลน์)</option>
                                            <option value="5">CASE DETAIL REPORT (ร้องเรียนกระทาผิด พรบ/ เว็บไซต์ผิดกฎหมาย)</option>
                                            <option value="6">CASE DETAIL REPORT (ร้องเรียนภัยคุกคาม CYBER)</option>
                                            <option value="7">CASE SUMMARY REPORT</option>
                                            <option value="9">CASE SUMMARY BY DAY REPORT</option>
                                            <option value="10">CALL PERFORMANCE SUMMARY</option>
                                            <option value="11">CASE E-MAIL RESPONSE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group no-padding">
                                    <div id="value-date-<%=index%>" class="input-group date field-date" >
                                        <div class="input-group-content">
                                            <input type="text" id="startdate" name="startdate" class="form-control fv">
                                        </div>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group no-padding">
                                    <div id="value-date-<%=index%>" class="input-group date field-date">
                                        <div class="input-group-content">
                                            <input type="text" id="enddate" name="enddate" class="form-control fv">
                                        </div>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row" style="margin: 10px">
                        <div class="card-actionbar-row col-lg-12" style="padding-right: 80px">

                            <button type="submit" class="btn ink-reaction btn-primary" ><i class="fa fa-search fa-fw"></i>&nbsp;Search</button>
                        </div>
                    </div>
                }
                <hr class="ruler-xl">
            </div>

                
        </div>
        <br />
        <div id="getQuery" class="col-lg-12"></div>

    </div>
</div>

<div id="myProgress" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Waiting</h4>
            </div>
            <div class="modal-body"> 
                <p class="text-center"><img src="~/Images/loading.gif" /></p>
                <p id="waiting" class="text-center">กรุณารอซักครู่ระบบกำลังทำการออกรายงานอยู่ค่ะ</p>
            </div>
        </div>
    </div>
</div>