﻿@model NEWCRM.Models.ListRepCaseModel

<div class="row">
    <div class="col-lg2" style="padding: 0 30px 10px 30px;"><a href="@Url.Action("excelCaseOnl", "RepCase", new { startDate = @ViewBag.startDate, endDate = @ViewBag.endDate, caseIDLevel1 = @ViewBag.caseIDLevel1, caseIDLevel2 = @ViewBag.caseIDLevel2, caseIDLevel3 = @ViewBag.caseIDLevel3, caseIDLevel4 = @ViewBag.caseIDLevel4 })" class="btn ink-reaction btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel</a></div>
</div>
<div class="row">
    <div class="col-lg-12" style="padding: 0 30px 10px 30px;">
        <div class="table-responsive">
            <table width="100%">
                <thead>
                    <tr class="gradeX">
                        <th colspan="2">
                            <h3>ศูนย์รับเรื่องร้องเรียนปัญหาออนไลน์ 1212 OCC</h3>
                            <h4>Case Detail Report (ร้องเรียนซื้อ ขายออนไลน์)</h4>
                        </th>
                        <th colspan="2"></th>
                        <th>
                            <div class="form-group no-padding pull-right">
                                <img width="190px" height="100px" src="~/Images/logo.png" />
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <table id="datatable1" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Case ID</th>
                        <th>Created Date</th>
                        <th>Channel</th>
                        <th>IDCard</th>
                        <th>Contact Name</th>
                        <th>Transaction Date</th>
                        <th>Phone Number</th>
                        <th>Main Case Type</th>
                        <th>Sub Case Type</th>
                        <th>Commerce Type</th>
                        <th>Commerce Channel</th>
                        <th>Product Category</th>
                        <th>Service Category</th>
                        <th>Delivery Type</th>
                        <th>Payment Type</th>
                        <th>Value Range</th>
                        <th>Conversation Channel</th>
                        <th>Vendor ID</th>
                        <th>Detail</th>
                        <th>Reference</th>
                        <th>รายละเอียดการจัดการเคส</th>
                        <th>Status</th>
                        <th>Close Reason</th>
                        <th>หน่วยงานที่ส่งเรื่องต่อ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.list_repcase ) {
                    <tr class="gradeX">
                        <td></td>
                        <td><a href="@Url.Action("CaseDetail","Case")/@item.casID" class="text-medium" target="_blank">@Html.Raw((item.chnID.Equals("ob") ? "<i class='fa fa-arrow-circle-up fa-fw'></i>" : "<i class='fa fa-arrow-circle-down fa-fw'></i>")) @item.casIDName</a></td>
                        <td>@item.casCreatedOn.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>                        
                        <td>@item.chnName</td>
                        <td>@item.ctaNote</td>
                        <td>@item.ctaFullName</td>
                        <td>@item.caseventDate</td>
                        <td>@item.ctaNumber</td>
                        <td>@item.casLevel1</td>
                        <td>@item.casLevel2</td>
                        <td>@item.cascommerceType</td>
                        <td>@item.casLevel6</td>
                        <td>@item.casproductCategory</td>
                        <td>@item.casserviceCategory</td>
                        <td>@item.casdeliveryType</td>
                        <td>@item.caspaymentType</td>
                        <td>@item.casvalueRange</td>
                        <td>@item.casconversationChannel</td>
                        <td>@item.casvendorID</td>
                        <td>@item.casdetail</td>
                        <td>@item.casreferenceDetail</td>
                        <td>@item.casSolution</td>
                        <td>@item.cssName</td>
                        <td>@item.casstatusReason</td>
                        <td>@item.ctaEmail</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>