﻿@{
    Layout = null;
    var sum = 0;
}

@foreach (var cases in Model.list_repcasesum)
{
    //var countParrent = Model.list_casetype.Count(x => x.catParrentID == casetype.catID);
    sum = sum + @cases.counts;
    <td> @cases.counts </td>
}
<td> @sum </td>