﻿@model NEWCRM.Models.ListRepCaseModel

<div class="row">
    <div class="col-lg2" style="padding: 0 30px 10px 30px;"><a href="@Url.Action("excelCaseCyb", "RepCase", new { startDate = @ViewBag.startDate, endDate = @ViewBag.endDate, caseIDLevel1 = @ViewBag.caseIDLevel1, caseIDLevel2 = @ViewBag.caseIDLevel2, caseIDLevel3 = @ViewBag.caseIDLevel3, caseIDLevel4 = @ViewBag.caseIDLevel4 })" class="btn ink-reaction btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel</a></div>
</div>
<div class="row">
    <div class="col-lg-12" style="padding: 0 30px 10px 30px;">
        <div class="table-responsive">
            <table width="100%">
                <thead>
                    <tr class="gradeX">
                        <th colspan="2">
                            <h3>ศูนย์รับเรื่องร้องเรียนปัญหาออนไลน์ 1212 OCC</h3>
                            <h4>Case Detail Report (ร้องเรียนภัยคุกคาม CYBER)</h4>
                        </th>
                        <th colspan="2"></th>
                        <th>
                            <div class="form-group no-padding pull-right">
                                <img width="190px" height="100px" src="~/Images/logo.png" />
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <table id="datatable1" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Created Date</th>
                        <th>Event Date</th>
                        <th>Case ID</th>
                        <th>Channel</th>
                        <th>IDCard</th>
                        <th>Contact Name</th>
                        <th>Contact Type</th>
                        <th>Contact email</th>
                        <th>Phone Number</th>
                        <th>Sub Case Type</th>
                        <th>Source Type</th>
                        <th>Reference ID</th>
                        <th>Reference Detail</th>
                        <th>Attach file</th>
                        <th>Detail</th>
                        <th>รายละเอียดการจัดการเคส</th>
                        <th>หน่วยงานที่ส่งเรื่องต่อ</th>
                        <th>Status</th>
                        <th>Close Reason</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.list_repcase)
                    {
                        <tr class="gradeX">
                            <td></td>
                            <td>@item.casCreatedOn.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@item.caseventDate</td>
                            <td>@item.casIDName</td>
                            <td>@item.chnName</td>
                            <td>@item.ctaNote</td>
                            <td>@item.ctaFullName</td>
                            <td>@item.ctaCareer</td>
                            <td>@item.ctaEmail</td>
                            <td>@item.ctaNumber</td>
                            <td>@item.casLevel2</td>
                            <td>@item.casLevel3</td>
                            <td>@item.casLevel6</td>
                            <td>@item.casreferenceDetail</td>
                            <th>@item.casAttachFile</th>
                            <td>@item.casdetail</td>
                            <td>@item.casSolution</td>
                            <td>@item.casFollowDesc</td>
                            <td>@item.cssName</td>
                            <td>@item.casstatusReason</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>