﻿@model NEWCRM.Models.ListRepCaseModel

<div class="row">
    <div class="col-lg2" style="padding: 0 30px 10px 30px;"><a href="@Url.Action("excelCallDay", "RepCase",new { startDate = @ViewBag.startDate, endDate = @ViewBag.endDate})" class="btn ink-reaction btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel</a></div>
</div>
<div class="row">
    <div class="col-lg-12" style="padding: 0 30px 10px 30px;">
        <div class="table-responsive">
            <table width="100%">
                <thead>
                    <tr class="gradeX">
                        <th colspan="2">
                            <h3>ศูนย์รับเรื่องร้องเรียนปัญหาออนไลน์ 1212 OCC</h3>
                            <h4>Call Performance Report By Day</h4>                      
                            <h4>Case Statistic Report </h4>
                        </th>
                        <th colspan="2"></th>
                        <th>
                            <div class="form-group no-padding pull-right">
                                <img width="190px" height="100px" src="~/Images/logo.png" />
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <table id="datatable1" class="table table-striped table-hover">
                <thead>
                    <tr style="background-color:#2B5D95;color:#ffffff;">
                        <th>Date </th>
                        <th>Incoming Call</th>
                        <th>Transfer to Agent</th>
                        <th>Answer Call</th>
                        <th>Abandoned</th>
                        <th>%Abandoned</th>
                        <th>Average talk time</th>
                        <th>Total talk time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.list_call)
                    {
                        <tr class="gradeX">
                            <td>@item.period</td>
                            <td>@item.entered</td>
                            <td>@item.transfer</td>
                            <td>@item.accepted_agent</td>
                            <td>@item.abandoned</td>
                            <td>@item.per_abandoned</td>
                            <td>@item.avg_engage_time</td>
                            <td>@item.engage_time</td>
                        </tr>
                    }
                </tbody>
                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th>Sum </th>
                    <th>@Model.list_call.Sum(x => x.entered)</th>
                    <th>@Model.list_call.Sum(x => x.transfer)</th>
                    <th>@Model.list_call.Sum(x => x.accepted_agent)</th>
                    <th>@Model.list_call.Sum(x => x.abandoned)</th>
                    <th>@ViewBag.SumTotal</th>
                    <th>@ViewBag.avg_engage_time</th>
                    <th>@Model.list_call.Aggregate(new TimeSpan(0), (p, v) => p.Add(v.engage_time))</th>
                </tr>
                
            </table>
        </div>
    </div>
</div>