﻿@model NEWCRM.Models.ContactViewModel
<style>
    .nledt
    {
        width: 180px;
        height: 30px;
        border: 0;
        background-color: #F2F3F3;
        padding-left: 4px;
        cursor: pointer;
    }

    .nledt_f
    {
        width: 180px;
        height: 30px;
        border: #CCC 1px solid;
        background-color: #FFF;
        padding-left: 3px;
    }

    .nledt_sel
    {
        width: 185px;
    }

    .nledt_adr
    {
        width: 240px;
        height: 90px;
        border: 0;
        background-color: #F2F3F3;
        padding-left: 4px;
        padding-top: 3px;
        cursor: pointer;        
    }

    .nledt_adr_f
    {
        width: 240px;
        height: 90px;
        border: #CCC 1px solid;
        background-color: #FFF;
        padding-left: 3px;        
    }
</style>
<script>

    var prev_val = "";

    $(document).ready(function () {



        $("#newPhone").hide();
        $("#newAddress").hide();
        $("#ctaCareer").val('@Model.contact.ctaCareer');

        $("#newPhoneNo").on('blur', function () {
            $(this).val('');
            $("#newPhone").hide();
        }).keypress(function (e) {
            if (e.which == 13) {
                dosave_phn(this);
            }
        });

        $("#newAddressData").on('blur', function () {
            $(this).val('');
            $("#newAddress").hide();
        }).keypress(function (e) {
            if (e.which == 13) {
                dosave_adr(this);
            }
        });

        $(".cta").on('click', function () {
            prev_val = $(this).val();
            $(this).removeClass("nledt").addClass("nledt_f");
        }).on('blur', function () {
            $(this).val(prev_val);
            $(this).removeClass("nledt_f").addClass("nledt");
        }).keypress(function (e) {
            if (e.which == 13) {
                prev_val = $(this).val();
                $(e.target).blur();
                dosave(this);
            }
        });


        $(".gnd").click(function () {
            //$("input[name='gndID']").removeAttr("checked");
            //$(this).children().first().attr("checked","checked");
            var obj = $(this).children().first();
            var datafield = $(obj).attr("data-field");
            var datatable = $(obj).attr("data-table");
            var datavalue = $(obj).val();
            var ctaID = '@Model.ctaID';
            var data = { datafield: datafield, datatable: datatable, datavalue: datavalue, ctaID: ctaID };
            var url = '@Url.Action("CommonDetailUpdate", "Contact")';
            $.post(url, data);
        });

        listPhones();
        listAddress();
        getctadobYear();
    });


    function do_contacttype(obj)
    {
        console.log($(obj).val());
        var datafield = $(obj).attr("data-field");
        var datatable = $(obj).attr("data-table");
        var datavalue = $(obj).val();
        var ctaID = '@Model.ctaID';
        var data = { datafield: datafield, datatable: datatable, datavalue: datavalue, ctaID: ctaID };
        var url = '@Url.Action("CommonDetailUpdate", "Contact")';
        $.post(url, data);
    }

    function listPhones() {
        var url = '@Url.Action("listPhones", "Contact")/@Model.ctaID';
        $("#listPhones").load(url);
    }

    function newPhone()
    {
        $("#newPhone").show();
        $("#newPhoneNo").focus();
    }

    function dosave(obj) {

        $(obj).next().fadeIn(200);

        var datafield = $(obj).attr("data-field");
        var datatable = $(obj).attr("data-table");
        var dataid = $(obj).attr("data-ID");
        var datavalue = $(obj).val();
        var dataismain = $(obj).attr("data-ismain");
        var ctaID = '@Model.ctaID';

        var data = { datafield: datafield, datatable: datatable, dataid: dataid, datavalue: datavalue, dataismain: dataismain, ctaID: ctaID };
        var url = '@Url.Action("CommonDetailUpdate", "Contact")';
        $.post(url, data, function () {
            $(obj).next().fadeOut(200);
            callTimeline();
        });
    }


    function dosave_phn(obj) {

        $(obj).next().fadeIn(200);
        var datafield = $(obj).attr("data-field");
        var datatable = $(obj).attr("data-table");
        var dataid = $(obj).attr("data-ID");
        var datavalue = jQuery.trim($(obj).val());
        var dataismain = $(obj).attr("data-ismain");
        var ctaID = '@Model.ctaID';
        var data = { datafield: datafield, datatable: datatable, dataid: dataid, datavalue: datavalue, dataismain: dataismain, ctaID: ctaID };
        var url = '@Url.Action("CommonDetailUpdate", "Contact")';
        $.post(url, data, function () {
            $(obj).next().fadeOut(200);

            if (data.dataid == 'new') {
                $("#newPhoneNo").val('');
                $("#newPhone").hide();
            }
            listPhones();
            callTimeline();
        });
    }

    function listAddress() {
        var url = '@Url.Action("listAddress", "Contact")/@Model.ctaID';
         $("#listAddress").load(url);
    }

    function newAddress() {
        $("#newAddress").show();
        $("#newAddressData").focus();
    }

    function dosave_adr(obj) {

        $(obj).next().fadeIn(200);

        var datatable = $(obj).attr("data-table");
        var dataid = $(obj).attr("data-ID");
        var datavalue = jQuery.trim($(obj).val());
        var ctaID = '@Model.ctaID';

        var data = { datatable: datatable, dataid: dataid, datavalue: datavalue, ctaID: ctaID };
        var url = '@Url.Action("CommonDetailUpdate", "Contact")';
        $.post(url, data, function () {
            $(obj).next().fadeOut(200);
            if (data.dataid == 'new') {
                $("#newAddressData").val('');
                $("#newAddress").hide();
            }
            listAddress();
            callTimeline();
            showMap();
        });
    }

    function showMap() {
        var url = '@Url.Action("showMap", "Contact", new { id = @Model.ctaID })';
        $("#showmap").load(url);
    }

    function setGNDActive(v) {
        $(".gnd_" + v).addClass("active");
        callTimeline();
    }

    function callTimeline()
    {
        if (typeof getTimeline !== 'undefined' && $.isFunction(getTimeline)) {
            getTimeline();
        }
    }

    //add new by suksa
    function getctadobYear() {
        debugger;
        //alert($(".ctaDOB").val());
        var split =  $(".ctaDOB").val().split(" ");
        for (i = 0; i < split.length; i++) {
            if (parseInt(split[i], 10)) {
                var ysplit;
                if (split[i].indexOf("-") > 0) {
                    ysplit = split[i].split("-")
                }
                else {
                    ysplit = split[i].split("/")
                }
                     
                for (i = 0; i < ysplit.length; i++) { 
                    if (parseInt(ysplit[i], 4)) {
                        var ctadobyear = ysplit[i];
                        if (ctadobyear == 1753) {
                            $(".ctaDOB").val("");
                        }
                    }
                }   
            } 
        }  
    } 
</script>
@{
    var phn_m = @Model.list_phones.Single(p => p.phnIsMain == true);        
}
<div id="commondetail" class="row" style="opacity: 0.85;">
    <div class="col-xs-12">
        <span class="text-xl">Contact Info</span>
        <dl class="dl-horizontal dl-icon" style="font-size: 14px;">
            <dt style="padding-top: 0"><span class="fa fa-fw fa-mobile fa-lg opacity-60"></span></dt>
            <dd>
                <span class="opacity-50">Main Phone</span><br />
                <span class="text-medium" title="Click for changed">
                    <input type="text" class="cmd nledt" value="@phn_m.phnNumber" data-field="" data-table="Phones" data-ID="@phn_m.phnID" data-ismain="1" />
                    <i class="fa fa-save fa-fw"></i>
                </span>
            </dd>
            <dt style="padding-top: 5px"><span class="fa fa-fw fa-phone fa-lg opacity-60"></span></dt>
            <dd>
                <span class="opacity-50">Other Phones <a href="javascript:;" class="btn btn-icon-toggle" onclick="newPhone()" data-toggle="tooltip" data-placement="top" data-original-title="Add new phone"><i class="fa fa-plus fa-fw"></i></a></span>
                <br />
                <div id="listPhones"></div>
                <div id="newPhone">
                    <span class="text-medium">
                        <input id="newPhoneNo" type="text" class="nledt_f" value="" data-field="" data-table="Phones" data-ID="new" data-ismain="0" />
                        <i class="fa fa-save fa-fw"></i>
                    </span>
                </div>
            </dd>
            <!-- contact type -->
            <dt style="padding-top: 0"><span class="fa fa-fw fa-meh-o fa-lg opacity-60"></span></dt>
            <dd>
                <span class="opacity-50">Contact Type</span><br />
                <span class="text-medium" title="Click for changed">
                    <select id="ctaCareer" name="ctaCareer" data-field="ctaCareer" data-table="Contacts" class="form-control" onchange="do_contacttype(this);" >
                        <option value="บุคคลทั่วไป">บุคคลทั่วไป</option>
                        <option value="เอกชน">เอกชน</option>
                        <option value="หน่วยงานรัฐ">หน่วยงานรัฐ</option>
                        <option value="อื่นๆ">อื่นๆ</option>
                    </select>
                    <i class="fa fa-save fa-fw"></i>
                </span>
            </dd>

            <!-- contact type -->
            <dt style="padding-top: 0"><span class="fa fa-fw fa-meh-o fa-lg opacity-60"></span></dt>
            <dd>
                <span class="opacity-50">ID Card</span><br />
                <span class="text-medium" title="Click for changed">
                    <input type="text" class="cmd nledt" value="@Model.contact.ctaNote" data-field="ctaNote" data-table="Contacts" />
                    <i class="fa fa-save fa-fw"></i>
                </span>
            </dd>

            <!-- end contact type-->
            <dt style="padding-top: 5px"><span class="fa fa-fw fa-home fa-lg opacity-60"></span></dt>
            <dd style="cursor: pointer">
                <span class="opacity-50">Address <a href="javascript:;" class="btn btn-icon-toggle" onclick="newAddress()" data-toggle="tooltip" data-placement="top" data-original-title="Add new address"><i class="fa fa-plus fa-fw"></i></a></span>
                <br />
                <div id="listAddress"></div>
                <div id="newAddress">
                    <span class="text-medium">
                        <textarea id="newAddressData" class="nledt_adr_f" data-table="Address" data-ID="new"></textarea>
                        <i class="fa fa-save fa-fw"></i>
                    </span>
                </div>
            </dd>
            <dt style="padding-top: 0"><span class="fa fa-fw fa-street-view fa-lg opacity-60"></span></dt>
            <dd>
                <span class="opacity-50">Map</span>
            </dd>
            <div id="showmap" data-toggle="tooltip" data-placement="left" data-original-title="Map">
                @{
                    Html.RenderAction("showMap", "Contact", new { id = @Model.ctaID });
                }
            </div>   
            <br />           
            <dt style="padding-top: 0"><span class="fa fa-fw fa-envelope fa-lg opacity-60"></span></dt>
            <dd>
                <span class="opacity-50">Email</span><br />
                <span class="text-medium" title="Click for changed">
                    <input type="text" class="cta nledt" value="@Model.commondetail.ctaEmail" data-field="ctaEmail" data-table="Contacts" /></span>
                <i class="fa fa-save fa-fw"></i>
            </dd>
        </dl>
        <span class="text-xl">Contact Profile</span>
        <br />
        <dl class="dl-horizontal dl-icon" style="margin-bottom: 0">
            <dt style="padding-top: 0"><span class="fa fa-fw fa-venus-mars fa-lg opacity-60"></span></dt>
            <dd>
                <span class="opacity-50">Gender</span><br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="gnd_0 btn ink-reaction btn-default gnd" data-toggle="tooltip" data-placement="top" data-original-title="Unknow">
                        <input type="radio" name="gndID" value="0" data-field="gndID" data-table="Contacts"><i class="fa fa-question-circle fa-fw"></i>
                    </label>
                    <label class="gnd_1 btn ink-reaction btn-default gnd" data-toggle="tooltip" data-placement="top" data-original-title="Male">
                        <input type="radio" name="gndID" value="1" data-field="gndID" data-table="Contacts"><i class="fa fa-male fa-fw"></i> M
                    </label>
                    <label class="gnd_2 btn ink-reaction btn-default gnd" data-toggle="tooltip" data-placement="top" data-original-title="Female">
                        <input type="radio" name="gndID" value="2" data-field="gndID" data-table="Contacts"><i class="fa fa-female fa-fw"></i> F
                    </label>
                </div>             
            </dd>
            <dt style="padding-top: 0"><span class="fa fa-fw fa-gift fa-lg opacity-60"></span></dt>
            <dd>
                <span class="opacity-50">Birthday</span><br />
                <span class="text-medium" title="Click for changed">
                    <input type="text" class="cta nledt form-control ctaDOB" value="@Model.commondetail.ctaDOB" data-field="ctaDOB" data-table="Contacts" data-inputmask="'alias': 'date'" /></span>
                <i class="fa fa-save fa-fw"></i>
            </dd>           
        </dl>
        <!--end .dl-horizontal -->        
    </div>
    <!--end .col -->
</div>
<!--end .row -->
<script src="~/Content/js/core/demo/DemoFormComponents.js"></script>

@if (@Model.commondetail.gndID.HasValue)
{
    <script>setGNDActive('@Model.commondetail.gndID');
    </script>                        
}
@*<script src="~/Content/js/core/source/AppVendor.js"></script>*@